<!doctype html>
<html ng-app="sql-sandbox">
<head>
    <title>SQL Sandbox</title>
    <base href="/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style>
         table {
            margin: 0px auto;
         }

         table, th , td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
         }

         table tr:nth-child(odd) {
            background-color: #f2f2f2;
         }

         table tr:nth-child(even) {
            background-color: #ffffff;
         }

         center {
            padding-top: 15px;
         }
      </style>

</head>
<body ng-controller="demoCtrl">
    <nav class="navbar navbar-default">
        <div class="navbar-collapse">
            <a class="navbar-brand" href="#">SQL Sandbox</a>
        </div><!-- /.navbar-collapse -->
    </nav>

    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Salary</th>
            <th>Grade</th>
            <th>Pass</th>
        </tr>

        <tr ng-repeat = "user in users">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.salary }}</td>
            <td>{{ user.grade }}</td>
            <td>{{ user.pass }}</td>
        </tr>

    </table>

    <hr>

    <div class="entry">
        <center><h2>Insert a value into the database</h2></center>
        <center><code>INSERT INTO users(name, email, salary, grade, pass) VALUES ('Ryan','ranewman@uwaterloo.ca', 100000, 100, 1);</code></center>
        <center><button ng-click="exec1()">Execute</button></center>
    </div>
    <div class="entry">
        <center><h2>Selecting all values from the DataBase</h2></center>
        <center><code>SELECT * FROM users;</code></center>
        <center><button ng-click="exec2()">Execute</button></center>
    </div>
    <div class="entry">
        <center><h2>Selecting only the name, email and salary</h2></center>
        <center><code>SELECT name, email, salary FROM users;</code></center>
        <center><button ng-click="exec3()">Execute</button></center>
    </div>
    <div class="entry">
        <center><h2>Select all passing users</h2></center>
        <center><code>SELECT * FROM users WHERE pass;</code></center>
        <center><button ng-click="exec4()">Execute</button></center>
    </div>
    <div class="entry">
        <center><h2>Select all users with a salary higher than 50000</h2></center>
        <center><code>SELECT * FROM users WHERE salary > 50000;</code></center>
        <center><button ng-click="exec5()">Execute</button></center>
    </div>
    <div class="entry">
        <center><h2>Select the name of the users who are failing with a salary higher than 70000</h2></center>
        <center><code>SELECT name FROM users WHERE salary > 70000 AND NOT pass;</code></center>
        <center><button ng-click="exec6()">Execute</button></center>
    </div>
    <div class="entry">
        <center><h2>Update all users to passing if they should be passing</h2></center>
        <center><code>UPDATE users SET pass = 1 WHERE grade >= 50;</code></center>
        <center><button ng-click="exec7()">Execute</button></center>
    </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="js/main.js"></script>
</body>
</html>